.rentcar-form{
    /* background-color: red; */
    height: 400px;
    display: flex;


}
.rentcar-form .carImage{
    background-color: yellow;
    height: 400px;
    width: 400px;
    /* margin: 5px; */
    margin-left: 30px;
}
.rentcar-form .carImage img{
    height: 100%;
    width: 100%;
}
.rentcar-form .data-form{
    height: 100%;
    width:1000px;
    margin-left: 30px;
    /* margin: 5px; */
    /* background-color: lightblue; */
    
}
.rentcar-form .data-form>div{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: lightblue;
}